<h1>{{zeneszam.eloado.nev}} - {{zeneszam.cim}}</h1>
<p>{{#if zeneszam.dalszoveg}}{{help zeneszam.dalszoveg}}{{/if}}</p>

<p>
<br>
{{link-to "Vissza" "eloado" zeneszam.eloado class="btn"}} {{link-to "Szerkeszt" "szerkeszt-zeneszam" zeneszam class="btn"}} {{link-to "Új zeneszám" "uj-z" class="btn"}}
</p>